# Default ignored files
/../../atividade banco /.idea/shelf/
/../../atividade banco /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../atividade banco /.idea/httpRequests/
# Datasource local storage ignored files
/../../atividade banco /.idea/dataSources/
/../../atividade banco /.idea/dataSources.local.xml
